.blue{
    color: rgb(73, 120, 239);
    text-decoration: none;
}

.tag{

    color:beige;
    background-color: rgb(125, 161, 254);
    font-size: xx-small;
    border: solid transparent ;
    border-radius: 15px;
    padding: 2px;
    margin: 2px;
}
.footer{
    background-color:#2B3035;
    
    color: white;
    font-size: smaller;

}
.footer>p{
    padding: 9px;
    margin-bottom: 0 !important;
}

.icon{
    color: #ffffff;
    
}

.icon:hover{
    color: #7DA1FE;
    
}
.icon-stack{
    display: flex;
    gap: 38px;
    align-items: center;
}