@font-face {
    font-family: Hacked;
    src: url(https://hackedfont.com/HACKED.ttf);
}
@font-face {
    font-family: Hacked2;
    src: url(./fonts/pixel_operator/PixelOperator.ttf);
}
body{
    background-image:url(./images/static.gif),url(./images/dedsec.gif);
    background-repeat:repeat;
    background-blend-mode:screen;
}
.blue{
    color:yellowgreen;
    font-weight: 600;
    text-decoration: none;
}
.navbar{
    font-family: Hacked;
    font-size: larger;
}
.navbar-brand{
    font-size: larger;
}
.nav-item>a:hover{
    
    color: white;
}
.nav-item>a:active{
    
    color: yellowgreen;
}
.tag{

    color:beige;
    background-color: rgb(146, 254, 125);
    font-size: xx-small;
    border: solid transparent ;
    border-radius: 15px;
    padding: 2px;
    margin: 2px;
}
.footer{
    background-color:#2B3035;
    
    color: white;
    font-size: smaller;
    

}
.footer>p{
    padding: 9px;
    margin-bottom: 0 !important;
}

.icon{
    color: #ffffff;
    
}

.icon:hover{
    color: yellowgreen;
    
}
.icon-stack{
    display: flex;
    gap: 38px;
    align-items: center;
}
.navbar{

    position: sticky;
    top: 0;
}

.container{
    border: solid 1px white;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background:black;
    margin-top: 1.5em;
}

.heading{
    color: greenyellow;
    font-family: Hacked;
    font-size: 4em;
}

.text{
    color:#ffffff;
    font-size: 1.5em;
    font-family: "Hacked2", sans-serif;
}
.hero-pic{
    width: 30em;
    height: auto;
}

.project-card{
    border: solid 1px white;
    background-color: #2B3035;
    padding: 1em;
    display: flex;
    flex-direction: column;
    width: 20em;   
    
}
.project-heading{
    font-size:2em;
    font-family: "Hacked2";
    color: greenyellow;
}
.project-card:hover{
    border: solid 1px red;
}
.projects-container{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1em;
    flex-wrap: wrap;
    
}
.tech-tag{
    font-family: "Hacked2";
    background-color: greenyellow;
    border: none;
    border-radius: 20px;
    color:black;
    padding: 1%;
}